absl-py==1.4.0
batchgenerators==0.21
flatbuffers==23.5.26
gen-exe==0.2.1
hiddenlayer==0.3
imageio==2.31.1
matplotlib==3.4.3
MedPy==0.4.0
multiprocess==0.70.14
nibabel==5.1.0
numpy==1.23.5
opencv_python==4.5.1.48
pandas==1.5.2
pathos==0.3.0
Pillow==9.5.0
qt_material==2.14
QtAwesome==1.2.3
PyQt5==5.15.9
PyQt5_sip==12.11.1
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.9.1
SimpleITK==2.2.1
six==1.16.0
tensorflow==2.12.0
timm==0.6.13
dist\torch-package\torch-2.0.0+cu117-cp39-cp39-win_amd64.whl
dist\torch-package\torchaudio-2.0.0+cu117-cp39-cp39-win_amd64.whl
dist\torch-package\torchvision-0.15.0+cu117-cp39-cp39-win_amd64.whl
tqdm==4.65.0
typing_extensions==4.7.0
vedo==2023.4.4
vtk==9.2.5
